body{
	background-color:gold;
}
h1{
	background-color:transparent;
	color: black;
	/*border-color: transparent;*/
	border-style: none;
}
.container{
	background-color:transparent;
	color: black;
	
}

.btn {
  display: inline-grid;
  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
  
}

button{
	font-weight: bold;
	text-align: center;

	text-decoration-color: grey;
	border-color: lightblue;
	white-space: nowrap;
	vertical-align: middle;
}