/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
*/
h1{
	color :darkblue;
	background-color: white;
}
.container{
	background-color:darkgrey;
	width:600px;


}
#login{
	background-color:darkgrey;
	width:600px;
	height: 350px;
}

body{
	background-size: cover;
	background-image: url("../images/background2.jpg");



}
