body{
	background-color:gold;
}
h1{
<<<<<<< HEAD
	background-color:transparent;
	color: black;
	/*border-color: transparent;*/
	border-style: none;
}
.container{
	background-color:transparent;
	color: black;
	
}

.btn {
  display: inline-grid;
  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
  
}
=======
	color :darkblue;
	background-color: white;
}
.container{
	background-color:darkgrey;
	width:600px;


}
#login{
	background-color:darkgrey;
	width:600px;
	height: 350px;
}

body{
	background-size: cover;
	background-image: url("../images/background2.jpg");
>>>>>>> c16006693b006ace7b2664178192bc56d5b26a40

button{
	font-weight: bold;
	text-align: center;

<<<<<<< HEAD
	text-decoration-color: grey;
	border-color: lightblue;
	white-space: nowrap;
	vertical-align: middle;
}
=======

}
>>>>>>> c16006693b006ace7b2664178192bc56d5b26a40
